@model ProductVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Create Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body py-2">
        <form action="Create" method="post" class="row">
                    <div class=" mb-3 row">
                        <label asp-for="Product.Title" class="ms-2 ">Title</label>
                <input asp-for="Product.Title" class="form-control border-0 shadow" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
                    </div>
                    <div class=" mb-3 row">
                <label asp-for="Product.Description" class="ms-2 ">Description</label>
                <input asp-for="Product.Description" class=" form-control border-0 shadow" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                    <div class=" mb-3 row">
                <label asp-for="Product.ISBN" class="ms-2 ">ISBN</label>
                <input asp-for="Product.ISBN" class=" form-control border-0 shadow" />
                <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                    </div>
                    <div class=" mb-3 row">
                <label asp-for="Product.Author" class="ms-2 ">Author</label>
                <input asp-for="Product.Author" class=" form-control border-0 shadow" />
                <span asp-validation-for="Product.Author" class="text-danger"></span>
                    </div>
                    <div class=" mb-3 row">
                <label asp-for="Product.ListPrice" class="ms-2 ">ListPrice</label>
                <input asp-for="Product.ListPrice" class=" form-control border-0 shadow" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                    </div>
                    <div class=" mb-3 row">
                <label asp-for="Product.Price" class="ms-2 ">Price</label>
                <input asp-for="Product.Price" class=" form-control border-0 shadow" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                    <div class=" mb-3 row">
                <label asp-for="Product.Price50" class="ms-2 ">Price50</label>
                <input asp-for="Product.Price50" class=" form-control border-0 shadow" />
                <span asp-validation-for="Product.Price50" class="text-danger"></span>
                    </div>
                    <div class=" mb-3 row">
                <label asp-for="Product.Price100" class="ms-2 ">Price100</label>
                <input asp-for="Product.Price100" class=" form-control border-0 shadow" />
                <span asp-validation-for="Product.Price100" class="text-danger"></span>
                    </div>
            <div class=" mb-3 row">
                <label asp-for="Product.ImageUrl" class="ms-2 ">Image Url</label>
                <input asp-for="Product.ImageUrl" class=" form-control border-0 shadow" />
                <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
            </div>
                    <div class=" mb-3 row">
                <label asp-for="Product.CategoryID" class=" ms-2">Category Id</label>
                         @*<select asp-for="CategoryID" asp-items="ViewBag.CategoryList" class="from-control border-0 shadown ">*@
                         @*Alternative*@
                <select asp-for="@Model.Product.CategoryID" asp-items="@Model.CategoryList" class="from-control border-0 shadown ">
                            <option disabled selected>--Select Category--</option>
                        </select>
                <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-outline-primary form-control">Create</button>
                        </div>
                        <div class=" col-6 col-md-3">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control">Back To List</a>
                        </div>
                    </div>
                </form>
    </div>
</div>

@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}